@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
  color: black;
  background: white;
  margin: 10px 0px 10px 2%;
  
}

p{
  
}
#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 2%;
}
#navbarOptions{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  font-weight: 700;
  margin: 10px 2% 10px 0px;
}

#navbarOptions p{
  margin:0 25px 0 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 115%;
}

#footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 10px 2%;
  position: absolute;
  bottom: 0px;
  width: 97%;
}

#footerCopyright{
  display: flex;
  flex-direction: row;
  align-items: ;
  justify-content: flex-end;
  align-items: center;

}


#homePage h3{
  font-size: 300%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}